{
  "openapi": "3.1.0",
  "info": {
    "title": "wethinkt Share API",
    "version": "0.1.0",
    "description": "API for uploading, sharing, and viewing Thinkt reasoning traces."
  },
  "servers": [
    { "url": "https://share.wethinkt.com", "description": "Production" },
    { "url": "https://share-dev.wethinkt.com", "description": "Staging" }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Session token from GitHub or Google OAuth device flow"
      }
    },
    "schemas": {
      "Ok": {
        "type": "object",
        "properties": { "ok": { "type": "boolean" } },
        "required": ["ok"]
      },
      "Error": {
        "type": "object",
        "properties": { "error": { "type": "string" } },
        "required": ["error"]
      },
      "AdminStats": {
        "type": "object",
        "properties": {
          "total_users": { "type": "integer" },
          "total_sessions": { "type": "integer" },
          "sessions_by_visibility": {
            "type": "object",
            "additionalProperties": { "type": "integer" }
          },
          "pending_reports": { "type": "integer" },
          "banned_users": { "type": "integer" }
        },
        "required": [
          "total_users",
          "total_sessions",
          "sessions_by_visibility",
          "pending_reports",
          "banned_users"
        ]
      },
      "Collection": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "type": { "type": "string", "enum": ["manual", "project", "system"] },
          "visibility": { "type": "string", "enum": ["public", "private"] },
          "description": { "type": "string" },
          "repo_url": { "type": "string" },
          "position": { "type": "integer" },
          "item_count": { "type": "integer" },
          "created_at": { "type": "string" }
        },
        "required": [
          "id",
          "name",
          "slug",
          "type",
          "visibility",
          "position",
          "created_at"
        ]
      },
      "DeviceCodeResponse": {
        "type": "object",
        "properties": {
          "device_code": { "type": "string" },
          "user_code": { "type": "string" },
          "verification_uri": { "type": "string" },
          "verification_url": { "type": "string" },
          "expires_in": { "type": "integer" },
          "interval": { "type": "integer" }
        },
        "required": ["device_code", "user_code", "expires_in", "interval"]
      },
      "DeviceTokenResponse": {
        "type": "object",
        "properties": {
          "token": { "type": "string" },
          "user": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "username": { "type": "string" }
            },
            "required": ["id", "username"]
          }
        },
        "required": ["token", "user"]
      },
      "DeviceTokenRequest": {
        "type": "object",
        "properties": { "device_code": { "type": "string" } },
        "required": ["device_code"]
      },
      "ExploreSessions": {
        "type": "object",
        "properties": {
          "traces": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slug": { "type": "string" },
                "title": { "type": "string" },
                "visibility": {
                  "type": "string",
                  "enum": ["public", "private"]
                },
                "size_bytes": { "type": "integer" },
                "likes_count": { "type": "integer" },
                "created_at": { "type": "string" },
                "tags": { "type": "array", "items": { "type": "string" } },
                "owner_name": { "type": "string" },
                "liked": { "type": "boolean" },
                "favorited": { "type": "boolean" },
                "moderation_status": {
                  "type": "string",
                  "enum": ["pending", "approved", "flagged", "removed"]
                },
                "git_commit": { "type": "string" },
                "git_repo_url": { "type": "string" },
                "workspace_id": { "type": "string" },
                "git_branch": { "type": "string" },
                "git_tag": { "type": "string" },
                "platform": { "type": "string" }
              },
              "required": [
                "slug",
                "title",
                "visibility",
                "size_bytes",
                "likes_count",
                "created_at",
                "tags"
              ]
            }
          },
          "page": { "type": "integer" }
        },
        "required": ["traces", "page"]
      },
      "TagCloud": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TagCount" }
          }
        },
        "required": ["tags"]
      },
      "TagCount": {
        "type": "object",
        "properties": {
          "tag": { "type": "string" },
          "count": { "type": "integer" }
        },
        "required": ["tag", "count"]
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "slug": { "type": "string" },
          "title": { "type": "string" },
          "visibility": { "type": "string", "enum": ["public", "private"] },
          "size_bytes": { "type": "integer" },
          "likes_count": { "type": "integer" },
          "created_at": { "type": "string" },
          "tags": { "type": "array", "items": { "type": "string" } },
          "owner_name": { "type": "string" },
          "liked": { "type": "boolean" },
          "favorited": { "type": "boolean" },
          "moderation_status": {
            "type": "string",
            "enum": ["pending", "approved", "flagged", "removed"]
          },
          "git_commit": { "type": "string" },
          "git_repo_url": { "type": "string" },
          "workspace_id": { "type": "string" },
          "git_branch": { "type": "string" },
          "git_tag": { "type": "string" },
          "platform": { "type": "string" }
        },
        "required": [
          "id",
          "slug",
          "title",
          "visibility",
          "size_bytes",
          "likes_count",
          "created_at",
          "tags"
        ]
      },
      "Profile": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "email": { "type": "string" },
              "image": { "type": "string", "nullable": true },
              "terms_accepted_at": { "type": "string", "nullable": true }
            },
            "required": ["name", "email", "image", "terms_accepted_at"]
          },
          "stats": {
            "type": "object",
            "properties": {
              "total_sessions": { "type": "integer" },
              "public_sessions": { "type": "integer" },
              "private_sessions": { "type": "integer" },
              "total_bytes": { "type": "integer" }
            },
            "required": [
              "total_sessions",
              "public_sessions",
              "private_sessions",
              "total_bytes"
            ]
          },
          "likes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slug": { "type": "string" },
                "title": { "type": "string" },
                "owner_name": { "type": "string" },
                "created_at": { "type": "string" }
              },
              "required": ["slug", "title", "owner_name", "created_at"]
            }
          },
          "tags": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TagCount" }
          }
        },
        "required": ["user", "stats", "likes", "tags"]
      },
      "Tags": {
        "type": "object",
        "properties": {
          "tags": { "type": "array", "items": { "type": "string" } }
        },
        "required": ["tags"]
      },
      "Health": {
        "type": "object",
        "properties": { "status": { "type": "string" } },
        "required": ["status"]
      },
      "SessionList": {
        "type": "object",
        "properties": {
          "traces": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Session" }
          }
        },
        "required": ["traces"]
      },
      "ReportList": {
        "type": "object",
        "properties": {
          "reports": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Report" }
          }
        },
        "required": ["reports"]
      },
      "Report": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "reason": { "type": "string" },
          "details": { "type": "string", "nullable": true },
          "status": {
            "type": "string",
            "enum": ["pending", "reviewed", "actioned", "dismissed"]
          },
          "created_at": { "type": "string" },
          "reviewed_at": { "type": "string", "nullable": true },
          "reviewer_notes": { "type": "string", "nullable": true },
          "session_slug": { "type": "string" },
          "session_title": { "type": "string", "nullable": true },
          "session_visibility": { "type": "string" },
          "session_owner_id": { "type": "string" },
          "reporter_name": { "type": "string", "nullable": true },
          "reporter_email": { "type": "string", "nullable": true },
          "owner_name": { "type": "string", "nullable": true },
          "owner_email": { "type": "string", "nullable": true }
        },
        "required": [
          "id",
          "reason",
          "details",
          "status",
          "created_at",
          "reviewed_at",
          "reviewer_notes",
          "session_slug",
          "session_title",
          "session_visibility",
          "session_owner_id",
          "reporter_name",
          "reporter_email",
          "owner_name",
          "owner_email"
        ]
      },
      "ReportId": {
        "type": "object",
        "properties": { "id": { "type": "string" } },
        "required": ["id"]
      },
      "CreateReport": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "enum": [
              "hate_speech",
              "spam",
              "sexual_content",
              "illegal_content",
              "private_data",
              "other"
            ]
          },
          "details": { "type": "string" }
        },
        "required": ["reason"]
      },
      "ResolveReportResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "action": { "type": "string" }
        },
        "required": ["ok", "action"]
      },
      "ResolveReport": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": ["dismiss", "remove_session", "ban_user"]
          },
          "notes": { "type": "string" }
        },
        "required": ["action"]
      },
      "SetTags": {
        "type": "object",
        "properties": {
          "tags": { "type": "array", "items": { "type": "string" } }
        },
        "required": ["tags"]
      },
      "FavoriteResponse": {
        "type": "object",
        "properties": { "favorited": { "type": "boolean" } },
        "required": ["favorited"]
      },
      "LikeResponse": {
        "type": "object",
        "properties": {
          "liked": { "type": "boolean" },
          "likes_count": { "type": "integer" }
        },
        "required": ["liked", "likes_count"]
      },
      "UpdateSession": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "visibility": { "type": "string", "enum": ["public", "private"] }
        }
      },
      "UploadSessionResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "slug": { "type": "string" },
          "url": { "type": "string" },
          "visibility": { "type": "string", "enum": ["public", "private"] }
        },
        "required": ["id", "slug", "url", "visibility"]
      },
      "UploadSession": {
        "type": "object",
        "properties": {
          "visibility": {
            "type": "string",
            "enum": ["public", "private"],
            "default": "private"
          },
          "title": { "type": "string", "default": "" },
          "trace": {
            "nullable": true,
            "description": "The Thinkt trace object (arbitrary JSON)"
          },
          "git_commit": { "type": "string" },
          "git_repo_url": { "type": "string" },
          "workspace_id": { "type": "string" },
          "git_branch": { "type": "string" },
          "git_tag": { "type": "string" },
          "platform": { "type": "string" }
        }
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/profile/accept-terms": {
      "post": {
        "tags": ["Profile"],
        "summary": "Accept Terms of Service",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Terms accepted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Ok" }
              }
            }
          }
        }
      }
    },
    "/api/collections/{slug}/directories": {
      "post": {
        "tags": ["Collections"],
        "summary": "Add directory to collection",
        "description": "Associate a local directory path with a collection for auto-association of uploaded sessions.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "example": "fuzzy-pine-3k2" },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "directory_path": { "type": "string" } },
                "required": ["directory_path"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Directory added",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Ok" }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Collection not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/collections/{slug}/items": {
      "post": {
        "tags": ["Collections"],
        "summary": "Add session to collection",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "example": "fuzzy-pine-3k2" },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "session_id": { "type": "string" } },
                "required": ["session_id"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session added",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Ok" }
              }
            }
          },
          "404": {
            "description": "Collection or session not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Collections"],
        "summary": "List sessions in a collection",
        "description": "List all sessions in a collection. Owner sees all sessions, others see only public sessions.",
        "parameters": [
          {
            "schema": { "type": "string", "example": "fuzzy-pine-3k2" },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Sessions in collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Session" }
                    }
                  },
                  "required": ["sessions"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/admin/stats": {
      "get": {
        "tags": ["Admin"],
        "summary": "Platform statistics",
        "description": "Get platform-wide statistics. Admin only.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Platform stats",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AdminStats" }
              }
            }
          }
        }
      }
    },
    "/api/collections": {
      "post": {
        "tags": ["Collections"],
        "summary": "Create a collection",
        "description": "Create a collection for grouping sessions. Use type 'project' for project-type collections with directory mappings.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "type": {
                    "type": "string",
                    "enum": ["manual", "project"],
                    "default": "manual"
                  },
                  "description": { "type": "string", "maxLength": 500 },
                  "repo_url": { "type": "string" },
                  "visibility": {
                    "type": "string",
                    "enum": ["public", "private"],
                    "default": "private"
                  },
                  "directories": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "Directory paths for auto-association (project-type)"
                  }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Collection created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Collection" }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Collections"],
        "summary": "List my collections",
        "description": "List all collections owned by the authenticated user, with item counts. Optionally filter by type (manual, project, system).",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": ["manual", "project", "system"],
              "description": "Filter by collection type"
            },
            "required": false,
            "description": "Filter by collection type",
            "name": "type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of collections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collections": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Collection" }
                    }
                  },
                  "required": ["collections"]
                }
              }
            }
          }
        }
      }
    },
    "/api/collections/{slug}": {
      "delete": {
        "tags": ["Collections"],
        "summary": "Delete a collection",
        "description": "Delete a collection. Cannot delete system collections. Sessions are not deleted.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "example": "fuzzy-pine-3k2" },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Collection deleted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Ok" }
              }
            }
          },
          "403": {
            "description": "Cannot delete system collection",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Collections"],
        "summary": "Get collection with sessions",
        "description": "Get a collection and its sessions. Public collections are accessible to anyone. Private collections require owner authentication.",
        "parameters": [
          {
            "schema": { "type": "string", "example": "fuzzy-pine-3k2" },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Collection with sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collection": { "$ref": "#/components/schemas/Collection" },
                    "sessions": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Session" }
                    }
                  },
                  "required": ["collection", "sessions"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Collections"],
        "summary": "Update a collection",
        "description": "Update name, description, repo_url, visibility, or position. Cannot modify system collections.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "example": "fuzzy-pine-3k2" },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "maxLength": 100 },
                  "description": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 500
                  },
                  "repo_url": { "type": "string", "nullable": true },
                  "visibility": {
                    "type": "string",
                    "enum": ["public", "private"]
                  },
                  "position": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Ok" }
              }
            }
          },
          "403": {
            "description": "Cannot modify system collection",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/sessions/{slug}": {
      "delete": {
        "tags": ["Sessions"],
        "summary": "Delete a session",
        "description": "Delete a session and its R2 data. Must be the owner.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "example": "fuzzy-pine-3k2" },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Session deleted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Ok" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Sessions"],
        "summary": "Get session metadata",
        "description": "Get metadata for a session. Public sessions are accessible to anyone. Private sessions require owner authentication.",
        "parameters": [
          {
            "schema": { "type": "string", "example": "fuzzy-pine-3k2" },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Session metadata",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Session" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Sessions"],
        "summary": "Update session metadata",
        "description": "Update title and/or visibility. Must be the owner.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "example": "fuzzy-pine-3k2" },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateSession" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Ok" }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/auth/device/code": {
      "post": {
        "tags": ["Auth"],
        "summary": "Request device code",
        "description": "Start GitHub device flow authentication for CLI login.",
        "responses": {
          "200": {
            "description": "Device code response from GitHub",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeviceCodeResponse" }
              }
            }
          }
        }
      }
    },
    "/api/auth/device/token": {
      "post": {
        "tags": ["Auth"],
        "summary": "Poll for auth token",
        "description": "Poll for completed GitHub device flow authentication. Returns 202 while pending.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DeviceTokenRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeviceTokenResponse" }
              }
            }
          },
          "202": {
            "description": "Authorization pending",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "400": {
            "description": "Error (expired, denied)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "GitHub account too new",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/explore": {
      "get": {
        "tags": ["Explore"],
        "summary": "Browse public sessions",
        "description": "List public approved sessions with optional tag filter, sorting, and pagination.",
        "parameters": [
          {
            "schema": { "type": "string", "description": "Filter by tag" },
            "required": false,
            "description": "Filter by tag",
            "name": "tag",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["newest", "likes"],
              "description": "Sort order"
            },
            "required": false,
            "description": "Sort order",
            "name": "sort",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Page number (default 1)"
            },
            "required": false,
            "description": "Page number (default 1)",
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Public sessions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ExploreSessions" }
              }
            }
          }
        }
      }
    },
    "/api/explore/tags": {
      "get": {
        "tags": ["Explore"],
        "summary": "Tag cloud",
        "description": "Get top 50 tags with counts from public approved sessions.",
        "responses": {
          "200": {
            "description": "Tag cloud",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TagCloud" }
              }
            }
          }
        }
      }
    },
    "/api/profile": {
      "get": {
        "tags": ["Profile"],
        "summary": "Get user profile",
        "description": "Get aggregated profile data including stats, liked sessions, and tags.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Profile data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Profile" }
              }
            }
          }
        }
      }
    },
    "/api/sessions/{slug}/data": {
      "get": {
        "tags": ["Sessions"],
        "summary": "Get session data",
        "description": "Get the full Thinkt reasoning session object from R2 storage.",
        "parameters": [
          {
            "schema": { "type": "string", "example": "fuzzy-pine-3k2" },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "responses": {
          "200": { "description": "Thinkt session object (arbitrary JSON)" },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/sessions/{slug}/tags": {
      "get": {
        "tags": ["Tags"],
        "summary": "Get session tags",
        "parameters": [
          {
            "schema": { "type": "string", "example": "fuzzy-pine-3k2" },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Tags",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Tags" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Tags"],
        "summary": "Set session tags",
        "description": "Replace all tags on a session. Max 10 tags, each max 20 chars. Must be the owner.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "example": "fuzzy-pine-3k2" },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SetTags" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags set",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Tags" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/auth/device/google/code": {
      "post": {
        "tags": ["Auth"],
        "summary": "Request Google device code",
        "description": "Start Google device flow authentication for CLI login.",
        "responses": {
          "200": {
            "description": "Device code response from Google",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeviceCodeResponse" }
              }
            }
          },
          "501": {
            "description": "Not configured",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/auth/device/google/token": {
      "post": {
        "tags": ["Auth"],
        "summary": "Poll for Google auth token",
        "description": "Poll for completed Google device flow authentication. Returns 202 while pending.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DeviceTokenRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeviceTokenResponse" }
              }
            }
          },
          "202": {
            "description": "Authorization pending",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "400": {
            "description": "Error (expired, denied)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Account suspended",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "501": {
            "description": "Not configured",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "tags": ["Health"],
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Health" }
              }
            }
          }
        }
      }
    },
    "/api/sessions/favorites": {
      "get": {
        "tags": ["Sessions"],
        "summary": "List favorited sessions",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of favorited sessions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SessionList" }
              }
            }
          }
        }
      }
    },
    "/api/admin/reports": {
      "get": {
        "tags": ["Admin"],
        "summary": "List reports",
        "description": "List reports filtered by status. Admin only.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": ["pending", "reviewed", "actioned", "dismissed"],
              "description": "Filter by status (default: pending)"
            },
            "required": false,
            "description": "Filter by status (default: pending)",
            "name": "status",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Reports list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReportList" }
              }
            }
          }
        }
      }
    },
    "/api/sessions": {
      "get": {
        "tags": ["Sessions"],
        "summary": "List my sessions",
        "description": "List all sessions owned by the authenticated user.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of sessions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SessionList" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Sessions"],
        "summary": "Upload a session",
        "description": "Upload a Thinkt reasoning session for private storage or public sharing. Subject to per-user rate limits (5/hour, 20/day) and account limits (50 sessions, 1 GB storage).",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UploadSession" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "413": {
            "description": "Session too large (10 MB max)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit or account limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/collections/{slug}/directories/{id}": {
      "delete": {
        "tags": ["Collections"],
        "summary": "Remove directory from collection",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "example": "fuzzy-pine-3k2" },
            "required": true,
            "name": "slug",
            "in": "path"
          },
          {
            "schema": { "type": "string", "example": "dir-abc-123" },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Directory removed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Ok" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/collections/{slug}/items/{id}": {
      "delete": {
        "tags": ["Collections"],
        "summary": "Remove item from collection",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "example": "fuzzy-pine-3k2" },
            "required": true,
            "name": "slug",
            "in": "path"
          },
          {
            "schema": { "type": "string", "example": "item-abc-123" },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Item removed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Ok" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/sessions/{slug}/report": {
      "post": {
        "tags": ["Reports"],
        "summary": "Report a session",
        "description": "Report a public session for policy violations. Rate limited to 5 per hour. Cannot report own sessions or private sessions.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "example": "fuzzy-pine-3k2" },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateReport" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Report created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReportId" }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "409": {
            "description": "Already reported",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/collections/resolve": {
      "get": {
        "tags": ["Collections"],
        "summary": "Resolve directory to collection",
        "description": "Find the collection associated with a given directory path.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Directory path to resolve"
            },
            "required": true,
            "description": "Directory path to resolve",
            "name": "directory",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Collection found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collection": { "$ref": "#/components/schemas/Collection" }
                  },
                  "required": ["collection"]
                }
              }
            }
          },
          "400": {
            "description": "Missing directory param",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/admin/reports/{id}/resolve": {
      "post": {
        "tags": ["Admin"],
        "summary": "Resolve a report",
        "description": "Take action on a report: dismiss, remove session, or ban user. Admin only.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "example": "abc-123" },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ResolveReport" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid action",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Report not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/sessions/{slug}/favorite": {
      "post": {
        "tags": ["Social"],
        "summary": "Toggle favorite",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "example": "fuzzy-pine-3k2" },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Favorite toggled",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FavoriteResponse" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/sessions/{slug}/like": {
      "post": {
        "tags": ["Social"],
        "summary": "Toggle like",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "example": "fuzzy-pine-3k2" },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Like toggled",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LikeResponse" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  }
}
