name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      # Use goreleaser-cross image for CGO cross-compilation
      GORELEASER_CROSS_VERSION: v1.25.5
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run GoReleaser
        run: |
          docker run \
            --rm \
            -e GITHUB_TOKEN \
            -e TAP_GITHUB_TOKEN \
            -e GORELEASER_KEY \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v $(pwd):/go/src/github.com/${{ github.repository }} \
            -w /go/src/github.com/${{ github.repository }} \
            ghcr.io/goreleaser/goreleaser-cross:${{ env.GORELEASER_CROSS_VERSION }} \
            release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAP_GITHUB_TOKEN: ${{ secrets.TAP_GITHUB_TOKEN }}
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
